div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: #ccc; 
  color: black;
}
.two{
  opacity:0.1 ;
}
.one{
 background-color: rgba(221, 221, 221, 0.1);
}